.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: linear-gradient(
        135deg,
        rgba(33,150,243,0.85),
        rgba(30,136,229,0.85)
    );
    box-shadow: 0 8px 25px rgba(33,150,243,0.45);
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}